:root {
    --negroVenn: #002b39;
}

/*Logo centrado */
#logoVenn{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
h1{
    text-align: center;
    color: var(--negroVenn);
    font-size: 35px;
}

