:root {
    --negroVenn: #002b39;
}

html{
    font-family: 'Hind', Helvetica, Arial, Lucida, sans-serif;
}

/*Logo centrado */
#logoVenn{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
h1{
    text-align: center;
    color: var(--negroVenn);
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style:normal ;
    letter-spacing: normal;
}

button{
    display: block;
    margin: auto;
    padding: 15px 45px 11px 46px;
    object-fit: contain;
    box-shadow: 0 9px 12px 0 rgb(26 72 100 / 16%);
    background-image: linear-gradient(to top, #007fff, #00b1ff -10%);
    color: #FFFFFF;
    border-width: 0 ;
    border-radius: 5px;
    font-size: 18px;
    background-color: #FFFFFF;
}
